.job-generator-frame {
    display: flex;
    width: 100%;
    height: calc(100dvh - 4rem);
    border: 1px solid black;
    box-sizing: border-box;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        border: 0.0625rem solid black;

        .input-wrapper {
            width: 90%;

            input {
                width: calc(100% - 0.5rem);
                height: 2rem;
            }
        }
    }
}

.form-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.input-wrapper-col2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 1rem;


    input {
        width: 90%;
        height: 2rem;
    }
}

.live-preview-wrapper{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.example-full-width {
    width: 90%;
}