<div class="job-generator-frame">
    <form [formGroup]="jobForm" >
        <div class="form-frame">

            <mat-form-field class="example-full-width">
                <mat-label>Bezeichnung</mat-label>
                <input type="text" minlength="3" matInput formControlName="name" placeholder="Bitte Bezeichnung angeben">
                @if (jobForm.controls['name'].hasError('minlength') && !jobForm.controls['name'].hasError('required')) {
                    <mat-error>Bitte eine Bezeichnungslänge von min. 3 Buchstaben wählen !</mat-error>
                  }
                @if (jobForm.hasError('required')) {
                <mat-error>Bzeichnung ist <strong>erforderlich !</strong></mat-error>
                }
            </mat-form-field>

            <div class="input-wrapper-col2">
                <mat-form-field class="example-full-width">
                    <mat-label>Eingang ZPF</mat-label>
                    <input [min]="dateToday" matInput (dateChange)="onDate($event)" formControlName="dateOfReceipt" [matDatepicker]="pickerOfReceipt">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerOfReceipt"></mat-datepicker-toggle>
                    <mat-datepicker #pickerOfReceipt></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Terminwunsch</mat-label>
                    <input [min]="dateToday" matInput (dateChange)="onDate($event)" [matDatepicker]="picker" formControlName="desiredDeadline">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!--
        name: string;
        dateOfReceipt: number;
        desiredDeadline: number;
        client: string;
        otherTests: boolean;
        typeOfTest: string[];
        box: number;
        comment: string;
        climateState: string;
        id: string;
            -->

        </div>
    </form>
    <div class="live-preview-wrapper">
        <fen-job-card [cardData]="jobForm.value"></fen-job-card>
    </div>
</div>