.outer-frame {
    width: 24rem;
    height: calc(17.5rem - 4rem);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0rem 0.1875rem 0.375rem, rgba(0, 0, 0, 0.23) 0rem 0.1875rem 0.375rem;
    max-width: 20rem;
    z-index: 1000;

    .upper-frame {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        #jobname {
            font-weight: 600;
            font-size: 1.125rem;
            max-width: 14.375rem;
            line-break: auto;
        }

        .upper-frame-box {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-height:5.125rem;

            span {
                font-weight: 600;
            }


            h2 {
                margin: 0;
            }
        }
    }

    .date-frame,
    .client-frame,
    .test-frame {
        margin-top: 0.75rem;
        display: flex;
        gap: 12px;

        span {
            font-weight: 600;
        }

    }

    .date-frame{
        height: 3rem;
    }


}