@if (cardData) {
<div class="outer-frame">
    <div class="upper-frame">
        <div id="jobname">{{cardData.name}}</div>
        <div class="upper-frame-box">
            <span>Kiste</span>
            <h5>{{cardData.box}}</h5>
        </div>
    </div>
    <div class="date-frame">
        <div><span>Eingang ZPF: </span>{{cardData.dateOfReceipt | date:'dd.MM.YY'}}</div>
        <div><span>Terminwunsch: </span>{{cardData.desiredDeadline | date:'dd.MM.YY'}}</div>
        <div><span>KW: </span>{{cardData.desiredDeadline | date:'ww'}}</div>
    </div>
    <div class="client-frame">
        <span>Auftraggeber: </span>{{cardData.client}}
    </div>
    <div class="test-frame">
        <span>Prüfung: </span> {{cardData.typeOfTest}}
        <span>Klima: </span> {{cardData.climateState}}
    </div>
</div>}