nav{
    width: 100%;
    position: sticky;
    top: 0;
    
    mat-toolbar{
        display: flex;
        gap: 2rem;
        padding: 1rem 1.5rem;
        background-color: #d7e3ff;

        div{
            padding: 0.75rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #005cbb;
            border-radius: 0.5rem;

            transition: color 250ms ease-in-out;

            &:hover{
                background-color: #005cbb1a;
            }
        }

    }
}
.active{
    background-color: #005cbb1a;
    color: #ffffffd7!important;
}