mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    left: 19.5rem;
    position: absolute;
    

    fen-job-card{
        
        background-color: white;
        cursor: pointer;
        border-radius: 1rem;
        &:hover{
            transform: scale(1.025);
            z-index: 1100!important;
            transition: all 125ms ease-in;
            opacity: 0.95;
        }
    }
}